
@{
    ViewBag.Title = "CustomizeDevice";
}

<h2>CustomizeDevice</h2>
<div>
    <h2>Insert</h2>
    <form action="/Home/insert" method="post">
        <input type="submit" value="Insert">
    </form>
</div>

<div>
    <h2>Update</h2>
    <form action="/Home/update" method="post">
        <input type="submit" value="Update">
    </form>
</div>
<div>
    <h2>Delete</h2>
    <form action="/Home/delete" method="post">
        <input type="submit" value="Delete">
    </form>
</div>


