
@{
    ViewBag.Title = "Get";
}

<div>
    <h2>House data</h2>
    <form action="/api/get/house" method="get">
        <input type="submit" value="House">
    </form>
</div>

<div>
    <h2>Device data</h2>
    <form action="/api/get/device" method="get">
        <input type="submit" value="Device">
    </form>
</div>

<div>
    <h2>User data</h2>
    <form action="/api/get/user" method="get">
        <input type="submit" value="User">
    </form>
</div>
