
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<div>
    <h2>Detail</h2>
    <form action="/Home/get" method="post">
        <input type="submit" value="Detail">
    </form>
</div>
<br />
<div>
    <h2>Control</h2>
    <form action="/Home/control" method="post">
        <input type="submit" value="Control Device">
    </form>
</div>
<br />
<div>
    <h2>Customize Device</h2>
    <form action="/Home/customizedevice" method="post">
        <input type="submit" value="Customize Device">
    </form>
</div>
